In [10]:
import pandas as pd
df1 = pd.read_csv(r"Gaussian Random number 8260 - Sheet2.csv")
df2 = pd.read_csv(r"Gaussian Random number 8260 - Sheet1.csv")

  
result = pd.concat([df1, df2])
display(result)
# the default behaviour is join='outer'
# inner join
  
result1 = pd.concat([df1, df2], axis=1, join='inner')
display(result1)

      Gaussian Rand No Set 2  Gaussian Rand No Set 1
0                   0.821378                     NaN
1                   0.627213                     NaN
2                   0.767372                     NaN
3                   0.391894                     NaN
4                   0.209211                     NaN
...                      ...                     ...
8255                     NaN                0.189645
8256                     NaN                0.380077
8257                     NaN                0.637419
8258                     NaN                0.413127
8259                     NaN                0.628951

[16520 rows x 2 columns]

      Gaussian Rand No Set 2  Gaussian Rand No Set 1
0                   0.821378                0.036740
1                   0.627213                0.501186
2                   0.767372                0.118338
3                   0.391894                0.452479
4                   0.209211                0.464493
...                      ...                     ...
8255                0.742069                0.189645
8256                0.694468                0.380077
8257                0.926844                0.637419
8258                0.490224                0.413127
8259                0.596194                0.628951

[8260 rows x 2 columns]