In [8]:
#Using Pandas 
import pandas as pd
#Read Csv file using Pandas
df = pd.read_csv(r"Gaussian Random number 8260 - Sheet1.csv")
print(df.head())

   Gaussian Rand No Set 1
0                0.036740
1                0.501186
2                0.118338
3                0.452479
4                0.464493

In [9]:
df.head()

   Gaussian Rand No Set 1
0                0.036740
1                0.501186
2                0.118338
3                0.452479
4                0.464493

In [10]:
df.head(7)

   Gaussian Rand No Set 1
0                0.036740
1                0.501186
2                0.118338
3                0.452479
4                0.464493
5                0.997504
6                0.175694

In [11]:
df.head(8260)

      Gaussian Rand No Set 1
0                   0.036740
1                   0.501186
2                   0.118338
3                   0.452479
4                   0.464493
...                      ...
8255                0.189645
8256                0.380077
8257                0.637419
8258                0.413127
8259                0.628951

[8260 rows x 1 columns]

In [13]:
# Create a DataFrame       

dataFrame = pd.DataFrame(df);
print("Contents of the DataFrame:");
print(dataFrame);

Contents of the DataFrame:
      Gaussian Rand No Set 1
0                   0.036740
1                   0.501186
2                   0.118338
3                   0.452479
4                   0.464493
...                      ...
8255                0.189645
8256                0.380077
8257                0.637419
8258                0.413127
8259                0.628951

[8260 rows x 1 columns]